Connected Services/MessageService/HangmanGameService.wsdl

<?xml version="1.0" encoding="utf-8"?>
<wsdl:definitions xmlns:wsap="http://schemas.xmlsoap.org/ws/2004/08/addressing/policy" xmlns:wsa10="http://www.w3.org/2005/08/addressing" xmlns:tns="http://tempuri.org/" xmlns:msc="http://schemas.microsoft.com/ws/2005/12/wsdl/contract" xmlns:soapenc="http://schemas.xmlsoap.org/soap/encoding/" xmlns:wsx="http://schemas.xmlsoap.org/ws/2004/09/mex" xmlns:wsp="http://schemas.xmlsoap.org/ws/2004/09/policy" xmlns:wsam="http://www.w3.org/2007/05/addressing/metadata" xmlns:wsa="http://schemas.xmlsoap.org/ws/2004/08/addressing" xmlns:soap12="http://schemas.xmlsoap.org/wsdl/soap12/" xmlns:wsaw="http://www.w3.org/2006/05/addressing/wsdl" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:wsu="http://docs.oasis-open.org/wss/2004/01/oasis-200401-wss-wssecurity-utility-1.0.xsd" xmlns:xsd="http://www.w3.org/2001/XMLSchema" name="HangmanGameService" targetNamespace="http://tempuri.org/" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">
  <wsp:Policy wsu:Id="NetTcpBinding_IHangmanGameService_policy">
    <wsp:ExactlyOne>
      <wsp:All>
        <msb:BinaryEncoding xmlns:msb="http://schemas.microsoft.com/ws/06/2004/mspolicy/netbinary1" />
        <sp:TransportBinding xmlns:sp="http://schemas.xmlsoap.org/ws/2005/07/securitypolicy">
          <wsp:Policy>
            <sp:TransportToken>
              <wsp:Policy>
                <msf:WindowsTransportSecurity xmlns:msf="http://schemas.microsoft.com/ws/2006/05/framing/policy">
                  <msf:ProtectionLevel>EncryptAndSign</msf:ProtectionLevel>
                </msf:WindowsTransportSecurity>
              </wsp:Policy>
            </sp:TransportToken>
            <sp:AlgorithmSuite>
              <wsp:Policy>
                <sp:Basic256 />
              </wsp:Policy>
            </sp:AlgorithmSuite>
            <sp:Layout>
              <wsp:Policy>
                <sp:Strict />
              </wsp:Policy>
            </sp:Layout>
          </wsp:Policy>
        </sp:TransportBinding>
        <wsaw:UsingAddressing />
      </wsp:All>
    </wsp:ExactlyOne>
  </wsp:Policy>
  <wsp:Policy wsu:Id="NetTcpBinding_IPlayerManager_policy">
    <wsp:ExactlyOne>
      <wsp:All>
        <msb:BinaryEncoding xmlns:msb="http://schemas.microsoft.com/ws/06/2004/mspolicy/netbinary1" />
        <sp:TransportBinding xmlns:sp="http://schemas.xmlsoap.org/ws/2005/07/securitypolicy">
          <wsp:Policy>
            <sp:TransportToken>
              <wsp:Policy>
                <msf:WindowsTransportSecurity xmlns:msf="http://schemas.microsoft.com/ws/2006/05/framing/policy">
                  <msf:ProtectionLevel>EncryptAndSign</msf:ProtectionLevel>
                </msf:WindowsTransportSecurity>
              </wsp:Policy>
            </sp:TransportToken>
            <sp:AlgorithmSuite>
              <wsp:Policy>
                <sp:Basic256 />
              </wsp:Policy>
            </sp:AlgorithmSuite>
            <sp:Layout>
              <wsp:Policy>
                <sp:Strict />
              </wsp:Policy>
            </sp:Layout>
          </wsp:Policy>
        </sp:TransportBinding>
        <wsaw:UsingAddressing />
      </wsp:All>
    </wsp:ExactlyOne>
  </wsp:Policy>
  <wsdl:types>
    <xsd:schema targetNamespace="http://tempuri.org/Imports">
      <xsd:import schemaLocation="http://localhost:8080/?xsd=xsd0" namespace="http://tempuri.org/" />
      <xsd:import schemaLocation="http://localhost:8080/?xsd=xsd1" namespace="http://schemas.microsoft.com/2003/10/Serialization/" />
      <xsd:import schemaLocation="http://localhost:8080/?xsd=xsd2" namespace="http://schemas.datacontract.org/2004/07/HangmanGameService" />
    </xsd:schema>
  </wsdl:types>
  <wsdl:message name="IHangmanGameService_SendOperation_InputMessage">
    <wsdl:part name="parameters" element="tns:SendOperation" />
  </wsdl:message>
  <wsdl:message name="IHangmanGameService_SendOperation_OutputMessage">
    <wsdl:part name="parameters" element="tns:SendOperationResponse" />
  </wsdl:message>
  <wsdl:message name="IHangmanGameService_Response_OutputCallbackMessage">
    <wsdl:part name="parameters" element="tns:Response" />
  </wsdl:message>
  <wsdl:message name="IHangmanGameService_Response_InputCallbackMessage">
    <wsdl:part name="parameters" element="tns:ResponseResponse" />
  </wsdl:message>
  <wsdl:message name="IPlayerManager_LogIn_InputMessage">
    <wsdl:part name="parameters" element="tns:LogIn" />
  </wsdl:message>
  <wsdl:message name="IPlayerManager_LogIn_OutputMessage">
    <wsdl:part name="parameters" element="tns:LogInResponse" />
  </wsdl:message>
  <wsdl:message name="IPlayerManager_Register_InputMessage">
    <wsdl:part name="parameters" element="tns:Register" />
  </wsdl:message>
  <wsdl:message name="IPlayerManager_Register_OutputMessage">
    <wsdl:part name="parameters" element="tns:RegisterResponse" />
  </wsdl:message>
  <wsdl:message name="IPlayerManager_SearchNickNamePlayer_InputMessage">
    <wsdl:part name="parameters" element="tns:SearchNickNamePlayer" />
  </wsdl:message>
  <wsdl:message name="IPlayerManager_SearchNickNamePlayer_OutputMessage">
    <wsdl:part name="parameters" element="tns:SearchNickNamePlayerResponse" />
  </wsdl:message>
  <wsdl:message name="IPlayerManager_SendEmail_InputMessage">
    <wsdl:part name="parameters" element="tns:SendEmail" />
  </wsdl:message>
  <wsdl:message name="IPlayerManager_SendEmail_OutputMessage">
    <wsdl:part name="parameters" element="tns:SendEmailResponse" />
  </wsdl:message>
  <wsdl:message name="IPlayerManager_ChangePassword_InputMessage">
    <wsdl:part name="parameters" element="tns:ChangePassword" />
  </wsdl:message>
  <wsdl:message name="IPlayerManager_ChangePassword_OutputMessage">
    <wsdl:part name="parameters" element="tns:ChangePasswordResponse" />
  </wsdl:message>
  <wsdl:message name="IPlayerManager_SearchEmailPlayer_InputMessage">
    <wsdl:part name="parameters" element="tns:SearchEmailPlayer" />
  </wsdl:message>
  <wsdl:message name="IPlayerManager_SearchEmailPlayer_OutputMessage">
    <wsdl:part name="parameters" element="tns:SearchEmailPlayerResponse" />
  </wsdl:message>
  <wsdl:message name="IPlayerManager_PlayerResponseBoolean_OutputCallbackMessage">
    <wsdl:part name="parameters" element="tns:PlayerResponseBoolean" />
  </wsdl:message>
  <wsdl:message name="IPlayerManager_PlayerResponseBoolean_InputCallbackMessage">
    <wsdl:part name="parameters" element="tns:PlayerResponseBooleanResponse" />
  </wsdl:message>
  <wsdl:portType name="IHangmanGameService">
    <wsdl:operation name="SendOperation">
      <wsdl:input wsaw:Action="http://tempuri.org/IHangmanGameService/SendOperation" message="tns:IHangmanGameService_SendOperation_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IHangmanGameService/SendOperationResponse" message="tns:IHangmanGameService_SendOperation_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="Response">
      <wsdl:output wsaw:Action="http://tempuri.org/IHangmanGameService/Response" message="tns:IHangmanGameService_Response_OutputCallbackMessage" />
      <wsdl:input wsaw:Action="http://tempuri.org/IHangmanGameService/ResponseResponse" message="tns:IHangmanGameService_Response_InputCallbackMessage" />
    </wsdl:operation>
  </wsdl:portType>
  <wsdl:portType name="IPlayerManager">
    <wsdl:operation name="LogIn">
      <wsdl:input wsaw:Action="http://tempuri.org/IPlayerManager/LogIn" message="tns:IPlayerManager_LogIn_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IPlayerManager/LogInResponse" message="tns:IPlayerManager_LogIn_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="Register">
      <wsdl:input wsaw:Action="http://tempuri.org/IPlayerManager/Register" message="tns:IPlayerManager_Register_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IPlayerManager/RegisterResponse" message="tns:IPlayerManager_Register_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="SearchNickNamePlayer">
      <wsdl:input wsaw:Action="http://tempuri.org/IPlayerManager/SearchNickNamePlayer" message="tns:IPlayerManager_SearchNickNamePlayer_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IPlayerManager/SearchNickNamePlayerResponse" message="tns:IPlayerManager_SearchNickNamePlayer_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="SendEmail">
      <wsdl:input wsaw:Action="http://tempuri.org/IPlayerManager/SendEmail" message="tns:IPlayerManager_SendEmail_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IPlayerManager/SendEmailResponse" message="tns:IPlayerManager_SendEmail_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="ChangePassword">
      <wsdl:input wsaw:Action="http://tempuri.org/IPlayerManager/ChangePassword" message="tns:IPlayerManager_ChangePassword_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IPlayerManager/ChangePasswordResponse" message="tns:IPlayerManager_ChangePassword_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="SearchEmailPlayer">
      <wsdl:input wsaw:Action="http://tempuri.org/IPlayerManager/SearchEmailPlayer" message="tns:IPlayerManager_SearchEmailPlayer_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IPlayerManager/SearchEmailPlayerResponse" message="tns:IPlayerManager_SearchEmailPlayer_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="PlayerResponseBoolean">
      <wsdl:output wsaw:Action="http://tempuri.org/IPlayerManager/PlayerResponseBoolean" message="tns:IPlayerManager_PlayerResponseBoolean_OutputCallbackMessage" />
      <wsdl:input wsaw:Action="http://tempuri.org/IPlayerManager/PlayerResponseBooleanResponse" message="tns:IPlayerManager_PlayerResponseBoolean_InputCallbackMessage" />
    </wsdl:operation>
  </wsdl:portType>
  <wsdl:binding name="NetTcpBinding_IHangmanGameService" type="tns:IHangmanGameService">
    <wsp:PolicyReference URI="#NetTcpBinding_IHangmanGameService_policy" />
    <soap12:binding transport="http://schemas.microsoft.com/soap/tcp" />
    <wsdl:operation name="SendOperation">
      <soap12:operation soapAction="http://tempuri.org/IHangmanGameService/SendOperation" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="Response">
      <soap12:operation soapAction="http://tempuri.org/IHangmanGameService/Response" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:binding name="NetTcpBinding_IPlayerManager" type="tns:IPlayerManager">
    <wsp:PolicyReference URI="#NetTcpBinding_IPlayerManager_policy" />
    <soap12:binding transport="http://schemas.microsoft.com/soap/tcp" />
    <wsdl:operation name="LogIn">
      <soap12:operation soapAction="http://tempuri.org/IPlayerManager/LogIn" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="Register">
      <soap12:operation soapAction="http://tempuri.org/IPlayerManager/Register" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="SearchNickNamePlayer">
      <soap12:operation soapAction="http://tempuri.org/IPlayerManager/SearchNickNamePlayer" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="SendEmail">
      <soap12:operation soapAction="http://tempuri.org/IPlayerManager/SendEmail" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="ChangePassword">
      <soap12:operation soapAction="http://tempuri.org/IPlayerManager/ChangePassword" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="SearchEmailPlayer">
      <soap12:operation soapAction="http://tempuri.org/IPlayerManager/SearchEmailPlayer" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="PlayerResponseBoolean">
      <soap12:operation soapAction="http://tempuri.org/IPlayerManager/PlayerResponseBoolean" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:service name="HangmanGameService">
    <wsdl:port name="NetTcpBinding_IHangmanGameService" binding="tns:NetTcpBinding_IHangmanGameService">
      <soap12:address location="net.tcp://localhost:8090/HangmanGameService" />
      <wsa10:EndpointReference>
        <wsa10:Address>net.tcp://localhost:8090/HangmanGameService</wsa10:Address>
        <Identity xmlns="http://schemas.xmlsoap.org/ws/2006/02/addressingidentity">
          <Upn>LAPTOP-N742IUP2\MARTHA</Upn>
        </Identity>
      </wsa10:EndpointReference>
    </wsdl:port>
    <wsdl:port name="NetTcpBinding_IPlayerManager" binding="tns:NetTcpBinding_IPlayerManager">
      <soap12:address location="net.tcp://localhost:8090/HangmanGameService" />
      <wsa10:EndpointReference>
        <wsa10:Address>net.tcp://localhost:8090/HangmanGameService</wsa10:Address>
        <Identity xmlns="http://schemas.xmlsoap.org/ws/2006/02/addressingidentity">
          <Upn>LAPTOP-N742IUP2\MARTHA</Upn>
        </Identity>
      </wsa10:EndpointReference>
    </wsdl:port>
  </wsdl:service>
</wsdl:definitions>