Connected Services/MessageService/item.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema xmlns:tns="http://schemas.datacontract.org/2004/07/HangmanGameService" elementFormDefault="qualified" targetNamespace="http://schemas.datacontract.org/2004/07/HangmanGameService" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:complexType name="ServiceAccount">
    <xs:sequence>
      <xs:element minOccurs="0" name="ConfirmationCode" type="xs:int" />
      <xs:element minOccurs="0" name="Email" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="IdAccount" type="xs:int" />
      <xs:element minOccurs="0" name="NickName" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="PasswordAccount" nillable="true" type="xs:string" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="ServiceAccount" nillable="true" type="tns:ServiceAccount" />
  <xs:complexType name="ServicePlayer">
    <xs:sequence>
      <xs:element minOccurs="0" name="LastName" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="NamePlayer" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="NickName" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="ScoreObtained" nillable="true" type="xs:int" />
      <xs:element minOccurs="0" name="ServiceReportMisConduct" nillable="true" type="tns:ArrayOfServiceReportMisConduct" />
      <xs:element minOccurs="0" name="StatusPlayer" nillable="true" type="xs:string" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="ServicePlayer" nillable="true" type="tns:ServicePlayer" />
  <xs:complexType name="ArrayOfServiceReportMisConduct">
    <xs:sequence>
      <xs:element minOccurs="0" maxOccurs="unbounded" name="ServiceReportMisConduct" nillable="true" type="tns:ServiceReportMisConduct" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="ArrayOfServiceReportMisConduct" nillable="true" type="tns:ArrayOfServiceReportMisConduct" />
  <xs:complexType name="ServiceReportMisConduct">
    <xs:sequence>
      <xs:element minOccurs="0" name="AdditionalContext" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="DateHour" type="xs:dateTime" />
      <xs:element minOccurs="0" name="IdReportMisConduct" type="xs:int" />
      <xs:element minOccurs="0" name="IdReportedPlayer" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="IdReportingPlayer" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="ServicePlayer" nillable="true" type="tns:ServicePlayer" />
      <xs:element minOccurs="0" name="TypeReport" nillable="true" type="xs:string" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="ServiceReportMisConduct" nillable="true" type="tns:ServiceReportMisConduct" />
  <xs:complexType name="ArrayOfServicePlayer">
    <xs:sequence>
      <xs:element minOccurs="0" maxOccurs="unbounded" name="ServicePlayer" nillable="true" type="tns:ServicePlayer" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="ArrayOfServicePlayer" nillable="true" type="tns:ArrayOfServicePlayer" />
  <xs:complexType name="ServiceSentence">
    <xs:sequence>
      <xs:element minOccurs="0" name="Hint" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="IdSentence" type="xs:int" />
      <xs:element minOccurs="0" name="Language" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="ScoreSentence" type="xs:int" />
      <xs:element minOccurs="0" name="SentenceWord" nillable="true" type="xs:string" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="ServiceSentence" nillable="true" type="tns:ServiceSentence" />
</xs:schema>